*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  background-color: #212b31;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
}
